@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

button {
  padding: 10px 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  background: transparent;
  cursor: pointer;
  transition: all 0.8s;
  font-family: sans-serif;
}

button:hover {
  transform: scale(1.1);

}

h1{
    font-size: 5rem;
    font-family: "Bungee Outline", cursive;
    line-height: 80px;
}
